<div class="display-wrapper">
  <app-userheader></app-userheader>
  <app-search-interface></app-search-interface>
  <div class="results-display">
    <mat-table matSort matSortDisableClear="true" [dataSource]="hitdata" (matSortChange)="sortTable($event)">
      <ng-container matColumnDef="Player" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header start="asc"> Name </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Player"] | nameFirstLast}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="asc"> Team </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Name"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="G">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> GP </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["G"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Tpa">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> PA </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Tpa"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="R">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> R </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["R"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Rbi">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> RBI </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Rbi"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Hr">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> HR </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Hr"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Sb">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> SB </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Sb"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Cs">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> CS </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Cs"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Avg">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> AVG </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Avg"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Obp">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> OBP </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Obp"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Slg">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> SLG </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Slg"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Ops">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> OPS </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Ops"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Woba">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> wOBA </mat-header-cell>
        <mat-cell *matCellDef="let hitter"> {{hitter["Woba"]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[15,30,60]"></mat-paginator>
  </div>
  <app-userfooter></app-userfooter>
</div>