<div class="display-wrapper">
  <app-userheader></app-userheader>
  <app-search-interface></app-search-interface>
  <div class="display-container">
    <mat-table matSort matSortDisableClear="true" (matSortChange)="sortTable($event)" [dataSource]="pitchdata">
      <ng-container matColumnDef="Player" sticky>
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Player"] | nameFirstLast}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Team </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Name"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="W">
        <mat-header-cell *matHeaderCellDef mat-sort-header> W </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["W"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="L">
        <mat-header-cell *matHeaderCellDef mat-sort-header> L </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["L"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Sv">
        <mat-header-cell *matHeaderCellDef mat-sort-header> SV </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Sv"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="G">
        <mat-header-cell *matHeaderCellDef mat-sort-header> G </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["G"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Gs">
        <mat-header-cell *matHeaderCellDef mat-sort-header> GS </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Gs"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Ip">
        <mat-header-cell *matHeaderCellDef mat-sort-header> IP </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Ip"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="So">
        <mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> K </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["So"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Bb">
        <mat-header-cell *matHeaderCellDef mat-sort-header> BB </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Bb"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Hr">
        <mat-header-cell *matHeaderCellDef mat-sort-header> HR </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Hr"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Era">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ERA </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Era"]}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Fip">
        <mat-header-cell *matHeaderCellDef mat-sort-header> FIP </mat-header-cell>
        <mat-cell *matCellDef="let pitcher"> {{pitcher["Fip"]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[15,30,60]"></mat-paginator>
    </div>
    <app-userfooter></app-userfooter>
  </div>