<div class="mat-app-background landing-panel">
    <div class="sub-header">
        Team and Stadium Information
    </div>
    <div class="desc-container">
        <p>{{teamdata['VenueName']}}, {{teamdata['AddressLine1']}}, {{teamdata['AddressCity']}},
            {{teamdata['State']}}.</p>
        <p>{{teamdata['DivisionFull']}} - Active since {{teamdata['FirstYearOfPlay']}}</p>
        <p>Team Website: <a href="http://{{teamdata['BaseUrl']}}" target="_blank">{{teamdata['BaseUrl']}}</a></p>

        <p>The {{teamdata['MlbOrgBrief']}} would have played their first game of the {{teamdata['Season']}} Season at
            {{teamdata['VenueShort']}} on {{teamdata['HomeOpener'] | momentdate}} at {{teamdata['HomeOpenerTime']}}
            {{teamdata['TimeZoneText']}}, but now, who knows?</p>
    </div>
</div>
