<div class="mat-app-background landing-panel">
    <div class="sub-header">
        Team and Stadium Information
    </div>
    <div class="desc-container">
        <p>{{teamdata['venueName']}}, {{teamdata['addressLine1']}}, {{teamdata['addressCity']}},
            {{teamdata['state']}}.</p>
        <p>{{teamdata['divisionFull']}} - Active since {{teamdata['firstYearOfPlay']}}</p>
        <p>Team Website: <a href="http://{{teamdata['baseUrl']}}" target="_blank">{{teamdata['baseUrl']}}</a></p>

        <p>The {{teamdata['mlbOrgBrief']}} would have played their first game of the {{teamdata['season']}} season at
            {{teamdata['venueShort']}} on {{teamdata['homeOpener'] | momentdate}} at {{teamdata['homeOpenerTime']}}
            {{teamdata['timeZoneText']}}, but now, who knows?</p>
    </div>
</div>
